/* Google Font */
.merriweather {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Common Style */

/* Banner Style */
header{
    display: flex;
    justify-content: center;
}
.banner{
    height: 546px;
    width: 1200px;
    border-radius: 16px;
    background-color: rgb(7, 2, 17)
    rgba(7, 2, 17, 0);
    background-image: url(/images/Banner\Image.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.banner-content{
    max-width: 575px;
    border: 2px solid white;
    text-align: center;
}

.banner-content h1{
    font-size: 65px;
    
}

.banner-content h5{
    font-size: 29px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* New year card style */
.offer-card{
    height: 734px;
    width: 730px;
    text-align: center;
}
.offer-card h1{
    color: #FF0000;
    font-size: 80px;
    font-weight: 700;
}
.offer-card p{
    color: #FF0000;
    font-size: 21px;
    font-weight: 600;
}
.offer-card h2{
    font-size: 43px;
}


